.pf-welcome-box {
    position: absolute;
    bottom: 8em;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
}

.pf-text-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    position: relative; 
    background: #ffffff;
    padding-left: 5px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 75px;
}

.pf-text-city {
    color: #9c9c9c;
    font-family: 'Montserrat', sans-serif;
    position: relative; 
    background: #ffffff;
    margin-left: 30%;
    margin-right: 30%;
    left: -20%;
}

.pf-top-vh {
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
}

.pf-topleft-bg {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../images/scroller.jpg);
    height: 100%;
}

.pf-projects-vh {
    height: 200px;
    margin-left: 0px;
    margin-right: 0px;
}

.pf-padding-zero {
    padding: 0px;
}

.parallax-window {
    min-height: 100vh;
    background: transparent;
}